HTML CSSResult Skip Results Iframe EDIT ON body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f6f5f4;
}

.side {
  /*background-color:#ff838b;*/
  width: 20%;
  text-align: center;
}

.content {
  /*background-color: #b3d874;*/
  width: 50%;
  text-align: center;
  margin-left: 10px; /*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

article {
  display: flex; /*サイドバーとメインコンテンツを横並びにする                指定をした*/
}

.pulldown {
  width: 90%;
  height: 25px;
}

.inner {
  padding-top: 30px;
}

.block {
  display: flex;
}

.display_none {
  display: none;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table th:first-child {
  border-radius: 5px 0 0 0;
}

table th:last-child {
  border-radius: 0 5px 0 0;
  border-right: 1px solid #3c6690;
}

table th {
  text-align: center;
  color: white;
  background: linear-gradient(#829ebc, #225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td {
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top: none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}

table td:last-child {
  border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.button {
  margin-top: 5px;
  width: 500px;
  display: inline-block;
  font-size: 18pt; /* 文字サイズ */
  text-align: center; /* 文字位置   */
  cursor: pointer; /* カーソル   */
  padding: 12px 54px; /* 余白       */
  background: #ffffff; /* 背景色     */
  color: #000000; /* 文字色     */
  line-height: 1em; /* 1行の高さ  */
  transition: 0.3s; /* なめらか変化 */
  box-shadow: 6px 6px 3px #666666; /* 影の設定 */
}
.button:hover {
  box-shadow: none; /* カーソル時の影消去 */
}

@media screen and (max-width: 480px) {
  .side {
    /*background-color:#ff838b;*/
    width: 40%;
    text-align: center;
  }

  .content {
    /*background-color: #b3d874;*/
    width: 60%;
    text-align: center;
    margin-left: 10px; /*サイドバーとメインコンテンツの間に隙間                    をあけた*/
  }

  .button {
    margin-top: 2px;
    width: 200px;
    display: inline-block;
    font-size: 10pt; /* 文字サイズ */
    text-align: center; /* 文字位置   */
    cursor: pointer; /* カーソル   */
    padding: 12px 54px; /* 余白       */
    background: #ffffff; /* 背景色     */
    color: #000000; /* 文字色     */
    line-height: 1em; /* 1行の高さ  */
    transition: 0.3s; /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666; /* 影の設定 */
  }
  .button:hover {
    box-shadow: none; /* カーソル時の影消去 */
  }
}
